# Na aula anterior...

Qual a principal hipótese do Algoritmo do Vizinho Mais Próximo?

# Hoje!

## KNN

<img src="imagens/knn.png" alt="Drawing" style="width: 250px;"/>

**Para pensar:** Construir um função que calcula a distância entre 2 pontos com n dimensões.

distancia(x, y) = raiz_quadrada(s)

s = soma(
    (x1 - y1)^2
    + (x2 - y2)^2
    + (x3 - y3)^2
    ...
    + (xn - yn)^2
)

In [7]:
x = [5, 6, 7]
y = [12, 13, 14]

In [10]:
s = (5 - 12)**2 + (6 - 13)**2 + (7 - 14)**2
s

147

In [11]:
s = (x[0] - y[0])**2 + (x[1] - y[1])**2 + (x[2] - y[2])**2
s

147

In [12]:
x = [5, 6]
y = [12, 13]

In [13]:
s = (x[0] - y[0])**2 + (x[1] - y[1])**2 + (x[2] - y[2])**2
s

IndexError: list index out of range

In [14]:
s = 0
for i in range(len(x)):
    s = s + (x[i] - y[i])**2
s

98

In [15]:
s = (x[0] - y[0])**2 + (x[1] - y[1])**2
s

98

In [16]:
x = [5, 6, 7]
y = [12, 13, 14]

In [18]:
s = 0
for i in range(len(x)):
    s = s + (x[i] - y[i])**2
s

147

In [19]:
s = 0
for i in range(len(x)):
    s = s + (x[i] - y[i])**2

distancia = s**0.5
distancia

12.12435565298214

p1 = np.array([1, 2, 3])
p2 = np.array([1, 2, 3])

In [5]:
def calcula_distancia(p1, p2):
    
    if len(p1) != len(p2):
        raise Exception("O tamanho de p1 não pode ser diferente do tamanho de p2")
    
    s = 0
    for i in range(len(p1)):
        s = s + (p1[i] - p2[i])**2

    distancia = s**0.5
    
    return distancia

In [6]:
x = [5, 6, 7]
y = [12, 13, 14]
calcula_distancia(x, y)

12.12435565298214

**Para pensar:** Construir um função que calcula a predição da classe de um elemento usando o Vizinho Mais Próximo.

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("dados/iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
x = df.iloc[0, :4]
y = df.iloc[5, :4]

calcula_distancia(x, y)

0.6164414002968979

In [6]:
x = df.iloc[0, :4]
y = df.iloc[55, :4]

calcula_distancia(x, y)

3.416138170507745

Preciso:
  - variável resposta: species
    
  - variáveis explicativas: sepal_length	sepal_width	petal_length	petal_width
    
  - dado que eu vou fazer a previsão: ponto 0 (dados_teste)
    
  - dados para comparação: ponto 1:final (dados_treino)

In [4]:
conhecidos = df[1:].copy()
desconhecidos = df.loc[0, ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].copy()

In [31]:
conhecidos

     sepal_length  sepal_width  petal_length  petal_width    species
17            5.1          3.5           1.4          0.3     setosa
4             5.0          3.6           1.4          0.2     setosa
39            5.1          3.4           1.5          0.2     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica

[149 rows x 5 columns]

In [12]:
desconhecidos

sepal_length    5.1
sepal_width     3.5
petal_length    1.4
petal_width     0.2
Name: 0, dtype: object

In [8]:
def predicao_knn(d_conhecidos, d_desconhecidos, resposta):

    distancia = []

    for i, elem in d_conhecidos.iterrows():

        distancia.append(calcula_distancia(elem.drop(resposta), d_desconhecidos))

    d_conhecidos['distancia'] = distancia
    
    d_conhecidos.sort_values(by = 'distancia', inplace = True)
    
    previsao = d_conhecidos.head(1)[resposta].iloc[0]
    
    return previsao

In [10]:
predicao_knn(conhecidos, desconhecidos, 'species')

'setosa'

### Os k Vizinhos Mais Próximos

Podemos extender o algoritmo do Vizinho Mais Próximo ao utilizar uma vizinhança maior, ou seja, os k vizinhos mais próximos. Numa situação de classificação desse tipo, podemos imaginar que cada vizinho votará em uma classe; a classe predominante, então, será a predição do modelo para aquela instância.

<img src="imagens/knn_2.png" alt="Drawing" style="width: 250px;"/>

**Para pensar:** Como extender o seu código para considerar os k Vizinhos Mais Próximos, sendo k um parâmetro a ser escolhido?

In [ ]:
# alterar esse código

def predicao_knn(d_conhecidos, d_desconhecidos, resposta, k):

    distancia = []

    for i, elem in d_conhecidos.iterrows():

        distancia.append(calcula_distancia(elem.drop(resposta), d_desconhecidos))

    d_conhecidos['distancia'] = distancia
    
    d_conhecidos.sort_values(by = 'distancia', inplace = True)
    
    previsao = d_conhecidos.head(1)[resposta].iloc[0]
    
    return previsao

**Para pensar:** Como proceder em casos que a variável resposta é contínua? Alterar vizinho mais próximo para identificar se a variável resposta é contínua ou não e fazer knn classificador ou knn regressor de acordo com isso. Como teste, dado o comprimento de pétala, comprimento de sépala e largura de pétala, encontre a largura da pétala.

In [126]:
11/3

3.6666666666666665

### Usando o sklearn

In [15]:
conhecidos.drop('distancia', axis = 1, inplace = True)

In [16]:
conhecidos.head()

    sepal_length  sepal_width  petal_length  petal_width species
17           5.1          3.5           1.4          0.3  setosa
4            5.0          3.6           1.4          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa

In [17]:
var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
var_resp = 'species'

In [18]:
conhecidos[var_resp]

17        setosa
4         setosa
39        setosa
27        setosa
28        setosa
         ...
131    virginica
105    virginica
122    virginica
117    virginica
118    virginica
Name: species, Length: 149, dtype: object

In [19]:
desconhecidos = pd.DataFrame(desconhecidos).T

In [29]:
desconhecidos.columns.values.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [20]:
desconhecidos

  sepal_length sepal_width petal_length petal_width
0          5.1         3.5          1.4         0.2

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
modelo = KNeighborsClassifier(1)

In [23]:
modelo

KNeighborsClassifier(n_neighbors=1)

In [24]:
modelo.fit(conhecidos[var_expl], conhecidos[var_resp])

KNeighborsClassifier(n_neighbors=1)

In [30]:
modelo.predict(desconhecidos)[0]

'setosa'

In [26]:
desconhecidos

  sepal_length sepal_width petal_length petal_width
0          5.1         3.5          1.4         0.2

**Para pensar:** Como escolher o melhor k?

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
modelo = KNeighborsClassifier(1)
modelo.fit(conhecidos[var_expl], conhecidos[var_resp])
y_pred = modelo.predict(conhecidos[var_expl])
accuracy_score(conhecidos[var_resp], y_pred)

1.0

In [173]:
modelo = KNeighborsClassifier(5)
modelo.fit(conhecidos[var_expl], conhecidos[var_resp])
y_pred = modelo.predict(conhecidos[var_expl])
accuracy_score(conhecidos[var_resp], y_pred)

0.9664429530201343

In [174]:
modelo = KNeighborsClassifier(10)
modelo.fit(conhecidos[var_expl], conhecidos[var_resp])
y_pred = modelo.predict(conhecidos[var_expl])
accuracy_score(conhecidos[var_resp], y_pred)

0.9798657718120806

In [175]:
modelo = KNeighborsClassifier(50)
modelo.fit(conhecidos[var_expl], conhecidos[var_resp])
y_pred = modelo.predict(conhecidos[var_expl])
accuracy_score(conhecidos[var_resp], y_pred)

0.9395973154362416

## Metodologias de Avaliação

Para observar ocorrência de *overfit* e calcular métricas mais confiáveis, podemos utilizar diversos tipos de metodologias, as quais partem do princípio de definir subconjuntos de **treinamento e teste**, separados de forma disjunta. Os dados de treinamento são empregados no ajuste do modelo, enquanto que os exemplos de teste simulam a apresentação de objetos novos, os quais não foram vistos durante o aprendizado.

### Hold Out

Nessa metodologia, o conjunto de dados é dividido em apenas duas partes: treinamento e teste. O primeiro serve para o ajuste do modelo, enquanto o segundo será usado em sua avaliação.

<center><img src="https://s3-sa-east-1.amazonaws.com/lcpi/4fa6e987-2508-400d-a751-a9c29279923d.png" alt="Drawing" style="height: 250px;"/></center>

In [176]:
from sklearn.model_selection import train_test_split

In [178]:
df = pd.read_csv('dados/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [216]:
df_treino, df_teste = train_test_split(df, test_size = 0.2, random_state = 5)

var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
var_resp = 'species'

x_treino = df_treino[var_expl]
x_teste = df_teste[var_expl]

y_treino = df_treino[var_resp]
y_teste = df_teste[var_resp]

modelo = KNeighborsClassifier(1)
modelo.fit(x_treino, y_treino)

y_teste_pred = modelo.predict(x_teste)
accuracy_score(y_teste, y_teste_pred)

0.9

In [218]:
df_treino, df_teste = train_test_split(df, test_size = 0.2, random_state = 5)

var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
var_resp = 'species'

x_treino = df_treino[var_expl]
x_teste = df_teste[var_expl]

y_treino = df_treino[var_resp]
y_teste = df_teste[var_resp]

modelo = KNeighborsClassifier(5)
modelo.fit(x_treino, y_treino)

y_teste_pred = modelo.predict(x_teste)
accuracy_score(y_teste, y_teste_pred)

0.9333333333333333

### Amostras

Nessa metodologia, o conjunto de dados também é dividido em duas partes, porém dessa vez esse processo de divisão é realizado N vezes, gerando N modelos, cada um com sua medida de avaliação obitdo em cima do conjunto de testes. Para obter uma medida única, são calculadas a média e o desvio padrão do desempenho avaliado. As amostras podem ser realizadas tanto com reposição quanto sem reposição.

<center><img src="https://s3-sa-east-1.amazonaws.com/lcpi/c82578f4-1372-4c18-8d3a-62be46829805.png" alt="Drawing" style="height: 250px;;"/></center>

In [221]:
k = 1

metricas = []

for i in range(1000):

    df_treino, df_teste = train_test_split(df, test_size = 0.2, random_state = i)

    var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
    var_resp = 'species'

    x_treino = df_treino[var_expl]
    x_teste = df_teste[var_expl]

    y_treino = df_treino[var_resp]
    y_teste = df_teste[var_resp]

    modelo = KNeighborsClassifier(k)
    modelo.fit(x_treino, y_treino)

    y_teste_pred = modelo.predict(x_teste)
    metricas.append(accuracy_score(y_teste, y_teste_pred))
    
sum(metricas)/len(metricas)

0.9578333333333299

In [222]:
k = 5

metricas = []

for i in range(1000):

    df_treino, df_teste = train_test_split(df, test_size = 0.2, random_state = i)

    var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
    var_resp = 'species'

    x_treino = df_treino[var_expl]
    x_teste = df_teste[var_expl]

    y_treino = df_treino[var_resp]
    y_teste = df_teste[var_resp]

    modelo = KNeighborsClassifier(k)
    modelo.fit(x_treino, y_treino)

    y_teste_pred = modelo.predict(x_teste)
    metricas.append(accuracy_score(y_teste, y_teste_pred))
    
sum(metricas)/len(metricas)

0.9630666666666646

### K-Fold

Nessa metodologia, o conjunto de dados é dividido em K partições, gerando N modelos. Cada modelo será treinado com um conjunto de K-1 partições, tomando a partição restante como teste, na qual serão calculadas as medidas de desempenho. Aqui, cada partição será considerada como teste 1 vez, e como treino k-1 vezes. Da mesma que nas Amostras, aqui são calculadas a édia e o desvio padrão.

<center><img src="https://s3-sa-east-1.amazonaws.com/lcpi/411b2d93-23ea-4cbb-a0d1-a5aafb64fd5b.png" style="height: 250px;;"/></center>

In [224]:
from sklearn.model_selection import KFold

In [250]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [255]:
metricas = []

kf = KFold(n_splits = 150, shuffle = True, random_state = 1)

for i_treino, i_teste in kf.split(df):

    df_treino = df.iloc[i_treino]
    df_teste = df.iloc[i_teste]

    var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
    var_resp = 'species'

    x_treino = df_treino[var_expl]
    x_teste = df_teste[var_expl]

    y_treino = df_treino[var_resp]
    y_teste = df_teste[var_resp]

    modelo = KNeighborsClassifier(k)
    modelo.fit(x_treino, y_treino)

    y_teste_pred = modelo.predict(x_teste)
    metricas.append(accuracy_score(y_teste, y_teste_pred))

sum(metricas)/len(metricas)

0.9666666666666667

Temos um nome específico quando $k = \text{n_amostras}$: Leave One Out

## Voltando para o KNN

**Para pensar:** Como escolher o melhor k?

In [ ]:
Metodologia:
    Variar a quantidade de vizinhos
    Testando cada k com 150 folds

In [268]:
df = pd.read_csv('dados/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [269]:
metricas = {}

k_possiveis = [i for i in range(1, 51)]

for k in k_possiveis:
    
    print(k, end = ' ')

    kf = KFold(n_splits = 150, shuffle = True, random_state = 1)

    metricas_temp = []
    
    for i_treino, i_teste in kf.split(df):

        df_treino = df.iloc[i_treino]
        df_teste = df.iloc[i_teste]

        var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
        var_resp = 'species'

        x_treino = df_treino[var_expl]
        x_teste = df_teste[var_expl]

        y_treino = df_treino[var_resp]
        y_teste = df_teste[var_resp]

        modelo = KNeighborsClassifier(k)
        modelo.fit(x_treino, y_treino)

        y_teste_pred = modelo.predict(x_teste)
        metricas_temp.append(accuracy_score(y_teste, y_teste_pred))

    metricas[k] = sum(metricas_temp)/len(metricas_temp)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [272]:
resultados = pd.DataFrame(pd.Series(metricas)).reset_index()
resultados.columns = ['k', 'acuracia']
resultados.sort_values(by = 'acuracia', ascending = False)

     k  acuracia
20  21  0.980000
19  20  0.980000
18  19  0.980000
9   10  0.973333
17  18  0.973333
16  17  0.973333
14  15  0.973333
13  14  0.973333
10  11  0.973333
8    9  0.966667
21  22  0.966667
22  23  0.966667
12  13  0.966667
7    8  0.966667
6    7  0.966667
15  16  0.966667
23  24  0.966667
4    5  0.966667
24  25  0.966667
26  27  0.966667
0    1  0.960000
25  26  0.960000
11  12  0.960000
3    4  0.960000
2    3  0.960000
5    6  0.960000
28  29  0.953333
31  32  0.953333
32  33  0.953333
33  34  0.953333
34  35  0.953333
38  39  0.953333
37  38  0.946667
46  47  0.946667
44  45  0.946667
43  44  0.946667
40  41  0.946667
36  37  0.946667
35  36  0.946667
30  31  0.946667
29  30  0.946667
1    2  0.946667
39  40  0.940000
41  42  0.940000
42  43  0.940000
27  28  0.940000
47  48  0.940000
48  49  0.940000
45  46  0.933333
49  50  0.926667

**Para pensar:** Qual o efeito no algoritmo se a largura da sépala estiver em centímetros e a largura da pétala estiver em milímetros? O que pode ser feito?

distancia(x, y) = raiz_quadrada(s)

s = soma(
    (x1 - y1)^2  
    + (x2 - y2)^2
    + (x3 - y3)^2
    ...
    + (xn - yn)^2
)

In [349]:
df = pd.read_csv('dados/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [350]:
df.sepal_length.mean()

5.843333333333334

In [351]:
df['sepal_length'] = df['sepal_length']/100000
df['petal_length'] = df['petal_length']*100000

In [364]:
df = pd.read_csv('dados/iris.csv')

df.sepal_length.mean(), df.sepal_length.std(), df.sepal_length.min(), df.sepal_length.max()

(5.843333333333334, 0.828066127977863, 4.3, 7.9)

In [365]:
df = pd.read_csv('dados/iris.csv')

minmax = MinMaxScaler()
df[var_expl] = minmax.fit_transform(df[var_expl])

df.sepal_length.mean(), df.sepal_length.std(), df.sepal_length.min(), df.sepal_length.max()

(0.42870370370370364, 0.23001836888273972, 0.0, 1.0)

In [366]:
df = pd.read_csv('dados/iris.csv')

minmax = StandardScaler()
df[var_expl] = minmax.fit_transform(df[var_expl])

df.sepal_length.mean(), df.sepal_length.std(), df.sepal_length.min(), df.sepal_length.max()

(-4.736951571734001e-16,
 1.0033500931359767,
 -1.870024133847019,
 2.4920192021244283)

In [ ]:
minmax = MinMaxScaler()
df[var_expl] = minmax.fit_transform(df[var_expl])

In [ ]:
df.sepal_length.mean()

distancia(x, y) = raiz_quadrada(s)

s = soma(
    (x1 - y1)^2  
    + (x2 - y2)^2
    + (x3 - y3)^2
    ...
    + (xn - yn)^2
)

In [323]:
((0.000047 - 0.000046)**2 + (3.2 - 3.1)**2 + (130000.0 - 150000.0)**2 + (0.2 - 0.2)**2)**0.5

20000.00000025

In [324]:
((0.000051 - 1.000049)**2 + (3.5 - 7.0)**2 + (140000.0 - 140000.0)**2 + (10.2 - 0.2)**2)**0.5

10.641898138960174

In [325]:
((0.000047 - 0.000047)**2 + (3.2 - 3.2)**2 + (130000.0 - 150000.0)**2 + (0.2 - 0.2)**2)**0.5

20000.0

In [326]:
k = 10

kf = KFold(n_splits = 150, shuffle = True, random_state = 1)

metricas_temp = []

for i_treino, i_teste in kf.split(df):

    df_treino = df.iloc[i_treino]
    df_teste = df.iloc[i_teste]

    var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
    var_resp = 'species'

    x_treino = df_treino[var_expl]
    x_teste = df_teste[var_expl]

    y_treino = df_treino[var_resp]
    y_teste = df_teste[var_resp]

    modelo = KNeighborsClassifier(k)
    modelo.fit(x_treino, y_treino)

    y_teste_pred = modelo.predict(x_teste)
    metricas_temp.append(accuracy_score(y_teste, y_teste_pred))

sum(metricas_temp)/len(metricas_temp)

0.9466666666666667

**Possíveis soluções**
- [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html)
- [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)

In [316]:
df_treino.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      0.000051          3.5      140000.0          0.2  setosa
1      0.000049          3.0      140000.0          0.2  setosa
2      0.000047          3.2      130000.0          0.2  setosa
3      0.000046          3.1      150000.0          0.2  setosa
4      0.000050          3.6      140000.0          0.2  setosa

In [327]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

k = 10

kf = KFold(n_splits = 150, shuffle = True, random_state = 1)

metricas_temp = []

for i_treino, i_teste in kf.split(df):

    df_treino = df.iloc[i_treino]
    df_teste = df.iloc[i_teste]

    var_expl = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
    var_resp = 'species'

    x_treino = df_treino[var_expl]
    x_teste = df_teste[var_expl]

    y_treino = df_treino[var_resp]
    y_teste = df_teste[var_resp]

    minmax = MinMaxScaler()
    x_treino = minmax.fit_transform(x_treino)
    x_teste = minmax.transform(x_teste)
    
    modelo = KNeighborsClassifier(k)
    modelo.fit(x_treino, y_treino)

    y_teste_pred = modelo.predict(x_teste)
    metricas_temp.append(accuracy_score(y_teste, y_teste_pred))

sum(metricas_temp)/len(metricas_temp)

0.9533333333333334

**Para pensar:** Qual o efeito da dimensionalidade nesse tipo de algoritmo?

- Processamento vai ser mais doloroso
- Tendência maior de overfit, aumentado ainda mais por ser um algoritmo baseado em distância

**Para pensar:** É possível utilizar dados qualitativos no algoritmo do Vizinho Mais Próximo?

In [331]:
df_treino['cor'] = 'azul'
df_treino.head()

/var/folders/0m/f9g25vz16sq8vcnn186g387h0000gn/T/ipykernel_3025/915671790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_treino['cor'] = 'azul'

   sepal_length  sepal_width  petal_length  petal_width species   cor
0      0.000051          3.5      140000.0          0.2  setosa  azul
1      0.000049          3.0      140000.0          0.2  setosa  azul
2      0.000047          3.2      130000.0          0.2  setosa  azul
3      0.000046          3.1      150000.0          0.2  setosa  azul
4      0.000050          3.6      140000.0          0.2  setosa  azul